<h1>Better Understand Your Relationships</h1>
<p>Using key words that first come to mind, we are able to generate an accurate
  prediction of any relationship issues you might have. Simply fill out the form
below and be ready to be on your way to better relatioships for life!</p><br>
<%= form_tag madlibs_path, method: "POST" do %>
  <%= label_tag :body_part, "body part:" %>
  <%= text_field_tag :body_part %> <br>
  <%= label_tag :verb_ing, "verb:" %>
  <%= text_field_tag :verb_ing %> <br>
  <%= label_tag :anim, "baby animal:" %>
  <%= text_field_tag :anim %>  <br>
  <%= label_tag :adj, "adjective:" %>
  <%= text_field_tag :adj %>  <br>
  <%= label_tag :job, "unusual occupation:" %>
  <%= text_field_tag :job %>  <br>
  <%= label_tag :adj2, "adjective:" %>
  <%= text_field_tag :adj2 %>  <br>
  <%= label_tag :randname, "random name:" %>
  <%= text_field_tag :randname %> <br>
  <%= submit_tag %>
<% end %>
