<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>



    <div class="ui inverted six item menu">
        <a class="active item" href="/">Home</a>
        <a class="active item" href="/constellations">Constellations</a>
        <a class="active item" href="/madlibs/new">Predictions</a>
        <a class="active item" href="/zodiac_signs">Zodiac Signs</a>

        <% if session[:user_id] %>
        <%= link_to "Account", user_path(session[:user_id]), {class: "active item"} %>
        <%= link_to "Logout", logout_path, {method: "DELETE", class: "active item"} %>
        <% else %>
        <%= link_to "Login", login_path, {class: "active item"}%>
        <% end %>

  </div>

    <%= yield %>
  </body>
</html>
