<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



    <div>
      <ul>


        <div class="ui menu">
  <a class="item" href="/">Home</a>
  <div class="right menu">
    <a class="item" href="/constellations">Constellations</a>
    <a class="item" href="/madlibs/new">Predictions</a>
    <% if session[:user_id] %>
    <%= link_to "Account", user_path(session[:user_id]), {class: "item"} %>
    <%= link_to "Logout", logout_path, {method: "DELETE", class: "item"} %>
    <% else %>
    <%= link_to "Login", login_path, {class: "item"}%>
    <% end %>
  </div>
</div>

  </head>

  <body>


    <%= yield %>
  </body>
</html>
